<div class="contact">
    <div id="map"
        data-lat="{{common.contact.location.latitude}}"
        data-long="{{common.contact.location.longitude}}"></div>

    <div class="content">
        <ul>
            <li>
                <span id="medium">Telephone</span>
                <span>{{common.contact.telephone}}</span>
            </li><!--
            --><li>
                <span id="medium">Email</span>
                <span>{{{common.contact.email}}}</span>
            </li><!--
            --><li>
                <span id="medium">Address</span>
                <span>{{{common.contact.address}}}</span>
            </li>
        </ul>
    </div>
</div>
