<div class="contactfooter">
    <div class="symbol"></div>
    <ul>
        <li>{{common.about.companyname}}</li>
        <li>{{common.contact.telephone}}</li>
        <li>{{{common.contact.email}}}</li>
    </ul>
    <ul class="social">
        <li><a href="{{common.contact.facebook}}"><img src="/public/images/icon-fb.svg"></a></li>
        <li><a href="{{common.contact.instagram}}"><img src="/public/images/icon-insta.svg"></a></li>
        <li><a href="{{common.contact.linkedin}}"><img src="/public/images/icon-li.svg"></a></li>
    </ul>
</div>
