footer
  img.logo(src="/public/images/logo_symbol_white.svg", alt="Mint Design logo in white")
  ul.contact
    li #{about.data.companyname}
    li #{contact.data.telephone}
    li
      - var email = contact.data.email
      include ./email
  ul.social
    li
      a(href=contact.data.facebook)
        img(src="/public/images/icon-fb.svg", alt="Facebook logo")
    li
      a(href=contact.data.instagram)
        img(src="/public/images/icon-insta.svg", alt="Instagram logo")
    li
      a(href=contact.data.linkedin)
        img(src="/public/images/icon-li.svg", alt="Linkedin logo")

