extends ./layouts/main.pug

block vars

  - var documentId = about.id

block body

  div.about.hero#hero(data-small=about.data.image.Small.url,
                      data-medium=about.data.image.Medium.url,
                      data-large=about.data.image.Large.url,
                      data-xlarge=about.data.image.url)
    +responsiveBgImage('hero', about.data.image)

  div.content.about
    h1 #{about.data.headline}
    div.body
      != prismicDOM.RichText.asHtml(about.data.content)

    - var employees = about.data.employees
    if employees
      div.employees
        each employee in employees
          div.profile
            - var eid = utils.hashName(employee.fullname)
            div.photo(id=eid,
                      data-small=employee.image.Small.url,
                      data-medium=employee.image.Medium.url,
                      data-large=employee.image.Large.url,
                      data-xlarge=employee.image.url)
              +responsiveBgImage(eid, employee.image)
            div.details
              h2 #{employee.fullname}
              span #{employee.title}
              ul
                li #{employee.telephone}
                li
                  - var email = employee.email
                  include ./partials/email

    - var awards = about.data.awards
    if awards
      div.awards
        h1 Awards
        ul
          each award in awards
            li
              - var link = prismicDOM.Link.url(award.link, ctx.linkResolver)
              if link
                a(href=link)
                  b #{award.title}
              else
                b #{award.title}
              div
                span #{award.year}
                | #{award.giver}

    - var clients = about.data.clients
    include ./partials/clients
