{{> menu}}

<div class="about hero" id="hero">
    {{{background "hero" common.about.image}}}
</div>

<div class="content about">
    <h1>{{common.about.headline}}</h1>
    <div class="body">
        {{{common.about.content}}}
    </div>

    {{#if common.about.employees}}
        <div class="employees">
            {{#each common.about.employees}}
            <div class="profile">
                <div class="photo" id="{{id}}">
                    {{{background id image}}}
                </div>
                <div class="details">
                    <h2>{{fullname}}</h2>
                    <span>{{title}}</span>
                    <ul>
                        <li>{{telephone}}</li>
                        <li>{{{email}}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if common.about.awards}}
    <div class="awards">
        <h1>Awards</h1>
        <ul>
        {{#each common.about.awards}}
            <li>
                {{#if link}}
                    <a href="{{link}}"><b>{{title}}</b></a>
                {{else}}
                    <b>{{title}}</b>
                {{/if}}
                <div><span>{{year}}</span>{{giver}}</div>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if common.about.clients}}
    <div class="clients">
        <h1>Clients</h1>
        <ul>
        {{#each common.about.clients}}
            {{#if image.main.url}}
            <li>
                <picture>
                    <source srcset="{{image.medium.url}}" media="(min-width: 40em)">
                    <img srcset="{{image.small.url}}" alt="{{alt}}">
                </picture>
                {{#if fullname}}
                    <span>{{fullname}}</span>
                {{/if}}
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
    {{/if}}

</div>

{{> footer}}
