{{> menu}}

<div class="about">
    <div class="coverphoto">
        <picture>
            <source srcset="{{common.about.image.main}}" media="(min-width: 960px)">
            <source srcset="{{common.about.image.large}}" media="(min-width: 700px) and (max-width: 960px)">
            <source srcset="{{common.about.image.medium}}" media="(min-width: 400px) and (max-width: 700px)">
            <img srcset="{{common.about.image.small}}" alt="{{image.alt}}">
        </picture>
    </div>

    <div class="content">
        <h1>{{common.about.headline}}</h1>
        <div class="body">
            {{{common.about.content}}}
        </div>


        {{#if common.about.employees}}
            {{#each common.about.employees}}
                {{#if i}}
                <div class="employee">
                {{else}}
                <div class="employee first">
                {{/if}}
                    <svg class="svg-graphic" width="240px" height="277px" viewBox="-30 0 510 510" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
                        <g>
                            <clipPath id="hexagonal-mask">
                                <path d="M432.501,121.723L232.201,6.22735C227.802,3.69235 222.115,3.69035 217.716,6.22935L17.5511,121.702C13.0771,124.294 10.2981,129.111 10.2981,134.293L10.3211,138.171L10.2461,365.518C10.2441,370.683 13.0211,375.495 17.4951,378.076L217.808,493.732C220.008,495.002 222.514,495.674 225.055,495.674C227.597,495.674 230.103,495.002 232.303,493.732L432.507,378.142C436.976,375.56 439.754,370.75 439.754,365.587L439.754,134.28C439.754,129.113 436.974,124.301 432.501,121.723Z" />
                           </clipPath>
                        </g>
                        <image clip-path="url(#hexagonal-mask)" height="100%" width="100%" xlink:href="{{image.medium}}" />
                    </svg>

                    <span>{{fullname}}</span>
                    <ul>
                        <li>{{telephone}}</li>
                        <li>{{{email}}}</li>
                    </ul>
                    {{{about}}}
                </div>
            {{/each}}
        {{/if}}

        {{#if common.about.awards}}
            <div class="awards">
                <h2>Awards</h2>
                <ul>
                {{#each common.about.awards}}
                    <li>
                        <span id="year">{{year}}</span>
                        {{#if related_article}}
                            <a href="work/{{related_article}}"><b>{{title}}</b></a>
                        {{else}}
                            <b>{{title}}</b>
                        {{/if}}
                        <span id="nomination">{{nomination}}</span>
                    </li>
                {{/each}}
                </ul>
            </div>
        {{/if}}

        {{#if common.about.clients}}
            <div class="clients">
                <h2>Clients</h2>
                <ul>
                {{#each common.about.clients}}
                    <li>
                        <picture>
                            <source srcset="{{image.main}}" media="(min-width: 960px)">
                            <source srcset="{{image.large}}" media="(min-width: 700px) and (max-width: 960px)">
                            <source srcset="{{image.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                            <img srcset="{{image.small}}" alt="{{image.alt}}">
                        </picture>
                        <span>{{fullname}}</span>
                    </li>
                {{/each}}
                </ul>
            </div>
        {{/if}}

    </div>

</div>

{{> contact}}

{{> footer}}

{{> contactscripts}}
