{{> menu}}

<div class="about">
    <div class="content">
        <h1>About {{common.companyname}}</h1>
        <picture>
            <source srcset="{{common.image.main}}" media="(min-width: 960px)">
            <source srcset="{{common.image.wide}}" media="(min-width: 700px) and (max-width: 960px)">
            <source srcset="{{common.image.medium}}" media="(min-width: 400px) and (max-width: 700px)">
            <img srcset="{{common.image.small}}" alt="{{image.alt}}">
        </picture>
    </div>
</div>


{{> contact}}

{{> footer}}

{{> contactscripts}}
