{{> menu}}

<div class="hero" id="hero">
    {{{background "hero" head.image}}}
    <div>
        <img src="/public/images/logo_symbol_white.svg" class="logo" />
        {{{common.about.tagline}}}
    </div>
</div>

{{#if services}}
<section class="services excerpts">
    {{#each services}}
    <div>
        <a href="{{link}}">
            {{{img icon "main"}}}
            {{{title}}}
        </a>
        {{{excerpt}}}
    </div>
    {{/each}}
</section>
{{/if}}

<section class="works">
    <h2>Work</h2>

    <div class="work">
        {{#each projects}}
        <div class="project" id="{{id}}">
            {{{background id image}}}
            <div class="overlay">
                <a href="{{link}}">
                    {{name}}
                    <span>{{description}}</span>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

    <a href="/works">Full work list</a>
</section>

<div class="content home">
    {{#if common.about.clients}}
    <div class="clients center">
        <h1>Clients</h1>
        <ul>
        {{#each common.about.clients}}
            {{#if image.main.url}}
            <li>
                <img srcset="{{image.main.url}}" alt="{{alt}}">
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
    {{/if}}
</div>

{{> footer}}
