{{> menu}}

<div class="head">
    <div class="content">
        <div>
            <img class="logo" src="/public/images/logo_white.svg" width="100">
            <span>{{common.about.tagline}}</span>
        </div>
        <picture>
            <source srcset="{{head.image.main}}" media="(min-width: 960px)">
            <source srcset="{{head.image.large}}" media="(min-width: 700px) and (max-width: 960px)">
            <source srcset="{{head.image.medium}}" media="(min-width: 400px) and (max-width: 700px)">
            <img class="latest" srcset="{{head.image.small}}" alt="{{image.alt}}">
        </picture>
    </div>
</div>

<div class="work">
    <h2>Work</h2>

    {{#each projects}}
    <div class="wrap">
        <div class="thumb">
            <a href="/work/{{slug}}">
                <div>
                    {{name}}
                    <span>{{description}}</span>
                </div>
            </a>
            <picture>
                <source srcset="{{image.medium}}" media="(min-width: 960px)">
                <img srcset="{{image.small}}" alt="{{image.alt}}">
            </picture>
        </div>
    </div>
    {{/each}}

    <a href="/works">Full work list</a>
</div>

{{> footer}}
