{{> menu}}

<section class="workdescription">
    <h1>{{project.name}}</h1>
    <div>
        {{{project.body}}}
    </div>
</section>

<section class="gallery">
{{#each project.gallery}}
    <picture>
        <source srcset="{{main.url}}" media="(min-width: 100em)">
        <source srcset="{{large.url}}" media="(min-width: 70em) and (max-width: 100em)">
        <source srcset="{{medium.url}}" media="(min-width: 40em) and (max-width: 70em)">
        <img srcset="{{small.url}}" alt="{{alt}}">
    </picture>
{{/each}}
</section>

{{> footer}}
