{{> menu}}

<div class="work">
    {{#each projects}}

    {{#if i}}
        <div class="project" id="{{id}}">
    {{else}}
        <div class="project current" id="{{id}}">
    {{/if}}
        {{{background id image}}}
        <div class="overlay">
            <a href="{{link}}">
                {{name}}
                <span>{{description}}</span>
            </a>
        </div>
    </div>
    {{/each}}
</div>

{{> footer}}
