{{> menu}}

<div class="work">
    {{#each projects}}

    {{#if i}}
        <div class="project" id="{{id}}">
    {{else}}
        <div class="project current" id="{{id}}">
    {{/if}}
        {{{background id image}}}
        <a href="{{link}}">
            <h1>{{name}}</h1>
            <span>{{description}}</span>
        </a>
    </div>
    {{/each}}
</div>

{{> footer}}
