{{> menu}}

<div class="work">
    {{#each projects}}
    <div class="wrap">
        <div class="thumb">
            <a href="/work/{{slug}}">
                <div>
                    {{name}}
                    <span>{{description}}</span>
                </div>
            </a>
            <picture>
                <source srcset="{{image.medium}}" media="(min-width: 960px)">
                <img srcset="{{image.small}}" alt="{{image.alt}}">
            </picture>
        </div>
    </div>
    {{/each}}
</div>

{{> footer}}
