extends ./layouts/main.pug

block social

  +socialCards(about.data.social)

block vars

  - var documentId = services.id

block body

  section.content.services
    != prismicDOM.RichText.asHtml(services.data.title)

    - for (var i = 0; i < services.data.services.length; i++)
      - var side = i % 2 === 0 ? 'left' : 'right'
      - var service = services.data.services[i]
      a.anchor(name=service.uid)
        div.service(class=side)
          div.background(id=service.uid,
                         data-small=service.photo.Small.url,
                         data-medium=service.photo.Medium.url,
                         data-large=service.photo.Large.url,
                         data-xlarge=service.photo.url)
            +responsiveBgImage(service.uid, service.photo)
          div.content
            != prismicDOM.RichText.asHtml(service.title)
            != prismicDOM.RichText.asHtml(service.body)
