{{> menu}}


<section class="content services">
    {{{title}}}

    {{#each services}}
        <a name="{{uid}}" class="anchor">
            <div class="service {{side}}">
                <div class="background" id="{{id}}">
                    {{{background id photo}}}
                </div>
                <div class="content">
                    {{{title}}}
                    {{{body}}}
                </div>
            </div>
        </a>
    {{/each}}

</div>

{{> footer}}
