extends ./layouts/main.pug

block body

  div.work
    - for (var i = 0; i < works.length; i++)
      - var className = i == 0 ? "project current" : "project"
      - var work = works[i]
      div(class=className,
          id=work.uid,
          data-small=work.data.image.Small.url,
          data-medium=work.data.image.Medium.url,
          data-large=work.data.image.Large.url,
          data-xlarge=work.data.image.url)
        +responsiveBgImage(work.uid, work.data.image)

        a(href=ctx.linkResolver(work))
          h1 #{work.data.name}
          span #{work.data.description}

