extends ./layouts/main.pug

block meta

  +metaTags(work.data)

block vars

  - var documentId = work.id

block body

  section.workdescription
    h1 #{work.data.name}
    div
      != prismicDOM.RichText.asHtml(work.data.body)

  section.gallery
    each image in work.data.gallery
      - var ar = (image.Large.dimensions.height / image.Large.dimensions.width) * 100;
      div(style="padding-bottom:"+ar+"%")
        picture
          img.lazyload(srcset=image.Nano.url,
                       alt=image.alt,
                       data-small=image.Small.url,
                       data-medium=image.Medium.url,
                       data-large=image.Large.url,
                       data-xlarge=image.url)
