<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta http-equiv="cache-control" content="max-age=21600" />

    <meta property="og:title" content="{{common.about.companyname}} : {{#capitalize}}{{page.name}}{{/capitalize}} {{#isWork page.name}}: {{project.name}}{{/isWork}}" />

    {{#isWork page.name}}
        <meta property="og:url" content="{{project.link}}" />
        <meta property="og:description" content="{{project.og_description}}" />
        <meta property="og:image" content="{{project.image.main.url}}" />
    {{else}}
        <meta property="og:url" content="{{page.url}}" />
        <meta property="og:description" content="{{common.about.tagline_text}}" />
        <meta property="og:image" content="{{common.about.image.main.url}}" />
    {{/isWork}}

    <title>{{common.about.companyname}} : {{#capitalize}}{{page.name}}{{/capitalize}} {{#isWork page.name}}: {{project.name}}{{/isWork}}</title>

    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" inline>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" inline>
    <link rel="icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-precomposed.png">

    <script type="text/javascript" src="/public/js/picture.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/main.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/picturefill.min.js" async crossorigin="anonymous"></script>

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel='stylesheet' href='/public/css/lte-ie8.css'>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 9]>
    <div class="ie8-message-bg">
    <div class="ie8-message-content">
    <h1>You should update your browser</h1>
    <p>
    <strong>Our website works best with <a href="http://google.no/chrome">Google Chrome</a>, <a href="http://apple.no/safari">Safari</a>, <a href="http://mozilla.org/firefox">Mozilla Firefox</a> or the latest version of <a href="http://microsoft.com/ie">Internet Explorer</a>.
    </strong>
    </p>
    </div>
    </div>
    <![endif]-->

    {{{body}}}

<script type="text/javascript" src="/public/js/ga.js" crossorigin="anonymous"></script>
<script>
    window.prismic = {
        endpoint: 'https://mintdesign.prismic.io/api/v2'
    };
</script>
<script type="text/javascript" src="//static.cdn.prismic.io/prismic.min.js"></script>
</body>
</html>
