doctype html(lang="en")
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="cache-control", content="max-age=21600")

    include ../partials/socialCards
    block social

    meta(name="google-site-verification", content="dn3VSuJ14keeA_q8bhAuGtqbzJQJgku2jmpkueF9I1s")

    meta(name="description", content=metaDescription)
    link(rel="canonical", href=page.url)

    title
      != utils.getPageTitle(about, page, work)

    link(rel="icon", sizes="180x180", href="/public/images/apple-touch-icon.png")
    link(rel="apple-touch-icon", href="/public/images/apple-touch-icon.png")
    link(rel="apple-touch-icon-precomposed", href="/public/images/apple-touch-icon-precomposed.png")

    include ../partials/styles.pug

  body(id=page.name)

    script(type="application/ld+json").
      {
        "@context"  : "http://schema.org",
        "@type"     : "LocalBusiness",
        "name"      : "#{about.data.companyname}",
        "image"     : "https://mintdesign.no/public/images/logo_black_name.svg",
        "telephone" : "#{contact.data.telephone}",
        "email"     : "#{contact.data.email}",
        "url"       : "https://mintdesign.no/"
      }

    block vars

    include ../partials/responsiveBgImage
    include ../partials/menu.pug

    block body

    include ../partials/footer.pug

    include ../partials/scripts.pug

    // Required for Previews and Experiments
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js", defer)
