<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta property="og:title" content="{{common.about.companyname}} : {{#capitalize}}{{page.name}}{{/capitalize}} {{#isWork page.name}}: {{project.name}}{{/isWork}}" />

    {{#isWork page.name}}
        <meta property="og:url" content="{{project.link}}" />
        <meta property="og:description" content="{{project.og_description}}" />
        <meta property="og:image" content="{{project.image.main}}" />
    {{else}}
        <meta property="og:url" content="{{page.url}}" />
        <meta property="og:description" content="{{common.about.tagline_text}}" />
        <meta property="og:image" content="{{common.about.image.main}}" />
    {{/isWork}}

    <title>{{common.about.companyname}} : {{#capitalize}}{{page.name}}{{/capitalize}} {{#isWork page.name}}: {{project.name}}{{/isWork}}</title>

    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" inline>
    <link rel="stylesheet" type="text/css" href="/public/css/fold.css" inline>
    <link rel="icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-precomposed.png">

    <!-- merge the scripts! -->
    <script type="text/javascript" src="/public/js/resizer.js" inline></script>
    <script type="text/javascript" src="/public/js/loadfont.js" inline></script>
    <script type="text/javascript" src="/public/js/loadcss.js" inline></script>

    <script>
        document.createElement('picture');
    </script>
    <script src="/public/js/picturefill.min.js" async></script>

    {{> ie8style}}
</head>
<body>
    {{> ie8message}}
    {{{body}}}
</body>
</html>
